packages: [
  "atom-beautify"
  "atom-jsfmt"
  "color-picker"
  "data-atom"
  "emmet"
  "file-icons"
  "file-type-icons"
  "git-control"
  "language-babel"
  "linter"
  "linter-eslint"
  "package-sync"
  "project-manager"
  "sort-lines"
  "symbols-tree-view"
  "Tern"
  "toggle-quotes"
  "vim-mode"
]
